---
import { Image } from "astro:assets";

import Character01 from "../../images/character01.png";

import { basics, skills } from "@cv";
---

<article id="about" class="pt-[6rem] pb-[5rem]">
  <div>
    <p>About</p>
    <p class="text-5xl font-bold">Who is this guy</p>
  </div>

  <div id="container-01" class="flex py-20 justify-center">
    <div
      id="pic-container"
      class="relative w-[18rem] h-[18rem] border-2 border-solid border-white"
    >
      <Image
        class="w-[19rem] h-[19rem] absolute left-[2.5rem] top-[-2.5rem] scale-x-[-1]"
        src={Character01}
        alt="tooned version of me"
        class="image"
      />
    </div>
  </div>

  <div class="max-w-lg">
    <p>My name is <span class="text-accent font-bold">Juan De León</span></p>
    {
      basics.summary.map((item, key) => (
        <p class={`${key !== 1 && "mt-4"} font-montserrat text-xl`}>{item}</p>
      ))
    }
  </div>

  <p class="text-2xl font-bold mt-16 mb-10">What do I do</p>
  <ul>
    {
      skills.map(({ name }) => (
        <li>
          <span class="font-montserrat">{name}</span>
        </li>
      ))
    }
  </ul>
</article>

<style>
  ul {
    display: inline-flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  li {
    background: black;
    color: white;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 1rem 2rem;
    border: solid 1px #555;
    font-size: 1rem;
  }
</style>
