---
import { Image } from "astro:assets";

import ProfilePic from "../../images/profilePic.webp";

import { basics, skills } from "@cv";
---

<article id="about" class="pt-[4rem] flex flex-col justify-center">
  <div>
    <p>About</p>
    <p class="text-5xl font-bold">Who is this guy</p>
  </div>

  <div id="container-01" class="flex py-20 justify-center">
    <div
      id="pic-container"
      class="relative w-[16rem] h-[23rem] border-2 border-solid border-white"
    >
      <Image
        class="w-[16rem] absolute left-[2.5rem] top-[-2.5rem]"
        src={ProfilePic}
        alt="tooned version of me"
      />
    </div>
  </div>

  <div class="max-w-lg">
    <p>My name is <span class="text-accent font-bold">Juan De León</span></p>
    {
      basics.summary.map((item, key) => (
        <p class={`${key !== 1 && "mt-4"} font-montserrat`}>{item}</p>
      ))
    }
  </div>
</article>

<style>
  ul {
    display: inline-flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  li {
    background: black;
    color: white;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 1rem 2rem;
    border: solid 1px #555;
    font-size: 1rem;
  }
</style>
