---
import { basics } from "@cv";
---

<article id="contact" class="pt-[10rem] pb-[10rem] mobile">
  <div class="mb-14">
    <p class="text-5xl font-bold">Get in touch</p>
  </div>

  <p class="mt-4 font-montserrat text-xl">follow this messagge structure</p>
  <p class="font-montserrat text-xl mb-10">
    if you want a 100% of chances of getting an answer.
  </p>
  <p class="font-montserrat text-xl">Hey Juan! - my name is...</p>
  <p class="font-montserrat text-xl">I work for...</p>
  <p class="font-montserrat text-xl">I saw your contact info on...</p>
  <p class="font-montserrat text-xl">and I’m contacting you because ...</p>

  <div class="mt-12">
    <p class="text-xl text-accent">This is my email</p>
    <label class="mr-8">{basics.email}</label>

    <p class="text-xl text-accent mt-8">My socials</p>
    {
      basics.profiles.map(({ url, network: name }) => (
        <label class="mr-8">
          <a href={url} target="_blank">
            {name}
          </a>
        </label>
      ))
    }
  </div>
</article>

<style>
  .mobile {
    display: none;
  }
  @media not all and (min-width: 768px) {
    .mobile {
      display: initial;
    }
  }
</style>
