<article id="contact" class="pt-[10rem] pb-[10rem]">
  <div class="mb-14">
    <p class="text-5xl font-bold">Get in touch</p>
  </div>

  <p class="mt-4 font-montserrat text-xl">
    follow this messagge structure
  </p>
  <p class="font-montserrat text-xl mb-10">
    if you want a 100% of chances of getting an answer.
  </p>
  <p class="font-montserrat text-xl">Hey Juan! - my name is...</p>
  <p class="font-montserrat text-xl">I work for...</p>
  <p class="font-montserrat text-xl">I saw your contact info on...</p>
  <p class="font-montserrat text-xl">and I’m contacting you because ...</p>

  <div class="mt-12">
    <p class="text-xl text-accent">This is my email</p>
    <label class="mr-8">juannillo95@gmail.com</label>

    <p class="text-xl text-accent mt-8">My socials</p>
    <label class="mr-8"
      ><a href="https://www.linkedin.com/in/juan-alberto-de-leon-384424173/"
        >LinkedIn</a
      ></label
    >
    <label class="mr-8"
      ><a href="https://github.com/deleonjuan">GitHub</a></label
    >
  </div>
</article>
