---
import PlaceIveWorked from "../placeIveWorked.astro";
---

<article id="experience" class="pt-[10rem] pb-[10rem]">
  <div class="mb-24">
    <p>Where</p>
    <p class="text-5xl font-bold">I've worked at</p>
  </div>

  <PlaceIveWorked
    date="NOW"
    placeName="Telus International - Digital Solutions"
    description="SR. FULL-STACK"
  />

  <PlaceIveWorked
    date="2021"
    placeName="CIAN CODERS GT"
    description="JR. FULL-STACK"
  />
</article>
