---
import PlaceIveWorked from "../placeIveWorked.astro";

import { work } from "@cv";
---

<article id="experience" class="pt-[10rem] pb-[10rem]">
  <div class="mb-24">
    <p>Where</p>
    <p class="text-5xl font-bold">I've worked</p>
  </div>

  {
    work.map((job) => (
      <PlaceIveWorked
        date={job.endDate}
        placeName={job.name}
        position={job.position}
        url={job.url}
      />
    ))
  }
</article>
