---
import { Image } from "astro:assets";
import Character01 from "../../images/character01.png";
import { basics } from "@cv";
---

<article id="experience" class="min-h-screen bg-[#F5F5F7]">
  <div
    class="shrinkable-div bg-black flex flex-col justify-center items-center"
  >
    <h1 class="text-6xl font-bold mb-5 text-white">{basics.shortName}</h1>

    <div id="container-01" class="relative">
      <div
        id="pic-container"
        class="relative w-[18rem] h-[18rem] border-2 border-solid border-white"
      >
        <Image
          class="w-[19rem] h-[19rem] absolute left-[2.5rem] top-[-2.5rem] scale-x-[-1]"
          src={Character01}
          alt="tooned version of me"
        />
      </div>

      <div
        id="description-container"
        class="inline-block p-[0.8rem] bg-black text-white absolute bottom-[-2rem] left-[10rem] w-full"
      >
        <p>FULLSTACK DEV</p>
        <p>+5 YEARS OF EXPERIENCE</p>
        <p>ES - EN</p>
      </div>
    </div>

    <p id="quote-1" class="mt-20 font-light text-white">
      <span class="text-white">I make solutions,</span> not just software.
      <p class="text-white">Optimal, usable and creative solutions.</p>
    </p>
  </div>
</article>

<style>
  .shrinkable-div {
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
    margin: 0 auto;
    animation: shrink 1s linear 1 forwards;
    animation-timeline: scroll();
  }

  .content {
    height: 200vh; /* Ensures enough content to scroll */
    background-color: #ecf0f1;
  }

  @keyframes shrink {
    0% {
      width: 100%;
      border-radius: 0rem;
    }
    15% {
      width: 90%;
      border-radius: 4rem;
    }
    100% {
      width: 90%;
      border-radius: 4rem;
    }
  }
</style>