<article id="projects" class="pt-[10rem] pb-[12rem]">
  <div class="mb-24">
    <p>Projects</p>
    <p class="text-5xl font-bold">I've worked on</p>
  </div>

  <p class="text-5xl font-bold text-accent">
    OOPS!, nothing here at the moment
  </p>
</article>
