---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Juan.dl/contact">
  <article id="contact" class="pb-">
    <div class="mb-14">
      <p class="text-5xl font-bold">Get in touch</p>
    </div>

    <p class="mt-4 font-montserrat text-xl font-thin mb-10">
      make sure to use the next messagge structure if you want 100% of chances of getting an answer.
    </p>
    <p class="font-montserrat text-xl font-thin">Hey Juan! - I am...</p>
    <p class="font-montserrat text-xl font-thin">I work for...</p>
    <p class="font-montserrat text-xl font-thin">I knew about you because...</p>
    <p class="font-montserrat text-xl font-thin">and I’m contacting you because ...</p>

    <div class="mt-12">
      <p class="text-xl text-accent">This is my email</p>
      <label class="mr-8">juannillo95@gmail.com</label>

      <p class="text-xl text-accent mt-8">My socials</p>
      <label class="mr-8"><a href="https://www.linkedin.com/in/juan-alberto-de-leon-384424173/">LinkedIn</a></label>
      <label class="mr-8"><a href="https://github.com/deleonjuan">GitHub</a></label>
    </div>
  </article>
</Layout>

<style>
  #contact {
    font-family: PPMonumentExtended;
    font-weight: normal;
    color: white;
  }
</style>
