---
import PlaceIveWorked from "../components/placeIveWorked.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Juan.dl/experience">
  <article id="experience" class="pb-24">
    <div class="mb-24">
      <p>Where</p>
      <p class="text-5xl font-bold">I've worked at</p>
    </div>

    <PlaceIveWorked
      date="NOW"
      placeName="Telus International - Digital Solutions"
      description="SR. FULL-STACK"
    />

    <PlaceIveWorked
      date="2021"
      placeName="CIAN CODERS GT"
      description="JR. FULL-STACK"
    />
  </article>
</Layout>

<style>
  #experience {
    font-family: PPMonumentExtended;
    font-weight: normal;
    color: white;
  }
</style>
