---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";

import About from "../components/articles/About.astro";
import Contact from "../components/articles/Contact.astro";
import Experience from "../components/articles/Experience.astro";
import Projects from "../components/articles/Projects.astro";

import Character01 from "../images/character01.png";

import {basics} from '@cv';
---

<Layout title="Juan.dl">
  /** / H E R O */
  <article id="presentation" class="pt-[8rem] min-h-screen">
    <h1 class="text-6xl font-bold mb-5">{basics.shortName}</h1>

    <div id="container-01" class="relative">
      <div
        id="pic-container"
        class="relative w-[18rem] h-[18rem] border-2 border-solid border-white"
      >
        <Image
          class="w-[19rem] h-[19rem] absolute left-[2.5rem] top-[-2.5rem] scale-x-[-1]"
          src={Character01}
          alt="tooned version of me"
        />
      </div>

      <div
        id="description-container"
        class="inline-block p-[0.8rem] bg-black text-white absolute bottom-[-1.5rem] left-[10rem]"
      >
        <p class="text-xl">FULLSTACK DEV</p>
        <p class="text-xl">+5 YEARS OF EXPERIENCE</p>
        <p class="text-xl">ES - EN</p>
      </div>
    </div>

    <p id="quote-1" class="mt-12">
      <span class="text-accent">I make solutions,</span> not software
      <p>Optimal, usable and creative solutions.</p>
    </p>

    <div class="mt-12">
      <p class="text-xl">&gt DON’T BE SHY</p>
      <label class="mr-8"
        ><a href="https://www.linkedin.com/in/juan-alberto-de-leon-384424173/"
          >LinkedIn</a
        ></label
      >
      <label class="mr-8"
        ><a href="https://github.com/deleonjuan">GitHub</a></label
      >
      <label class="mr-8"
        ><a href="mailto:juannillo95@gmail.com">Email</a></label
      >
    </div>
  </article>

   /** / A B O U T */
  <About />

   /** / E X P E R I E N C E */
  <Experience />

   /** / P R O J E C T S */
  <Projects />

   /** / C O N T A C T */
  <Contact />
</Layout>
