---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Juan.dl/projects">
  <article id="projects" class="pb-24">
    <div class="mb-24">
      <p>Projects</p>
      <p class="text-5xl font-bold">I've worked on</p>
    </div>

    <p class="text-5xl font-bold text-accent">OOPS!, nothing here 4 now</p>
  </article>
</Layout>

<style>
  #projects {
    font-family: PPMonumentExtended;
    font-weight: normal;
    color: white;
  }
</style>
