<aside id="aside-nav" class="flex items-center">
  <nav class="fixed">
    <ul>
      <li>
        <a href="#about">ABOUT ME</a>
      </li>
      <li>
        <a href="#experience">EXPERIENCE</a>
      </li>
      <li>
        <a href="#projects">PROJECTS</a>
      </li>
      <li>
        <a href="#contact">CONTACT</a>
      </li>
    </ul>
  </nav>
</aside>

<script>
  const navItems = document
    .getElementById("aside-nav")
    .getElementsByTagName("a");
  const page = document.getElementById("page-container");

  for (let i = 0; i < navItems.length; i++) {
    const element = navItems[i];
    element.addEventListener("click", (event) => {
      const text = document.createElement("div");

      text.className = "temp-text";
      text.innerText = "tap";
      text.style.top = event.clientY - 30 + "px";
      text.style.left = event.clientX - 20 + "px";

      page.appendChild(text);

      text.classList.add("fade-out");

      setTimeout(() => {
        text.remove();
      }, 1500);
    });
  }
</script>

<style>
  li {
    margin: 2rem 0;
    padding: 0.5rem 0.5rem;
  }
  a {
    color: white;
    font-family: PPMonumentExtended;
    font-weight: bold;
    font-size: xx-large;
  }
</style>
