---
interface Props {
    date: string,
    placeName: string,
    position: string
}

const { date, placeName, position } = Astro.props;
---

<div class="flex dir-col items-center py-7">
    <div class="mr-10">
        <p class="text-2xl text-accent">{date}</p>
    </div>
    <div>
        <p class="text-2xl">{position}</p>
        <p class="font-ppNeueMontreal">{placeName.toUpperCase()}</p>
    </div>
</div>