---
import Aside from "../components/Aside.astro";
import Header from "../components/Header.astro";
import Background from "./Background.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Background>
      <main>
        <Header />
        <section>
          <slot />
        </section>
        <Aside />
      </main>
    </Background>
  </body>
</html>
<style is:global>
  @font-face {
    font-family: "Montserrat-VariableFont_wght";
    src: url("/fonts/Montserrat-VariableFont_wght.ttf");
  }
  @font-face {
    font-family: "PPMonumentExtended";
    src: url("/fonts/PPMonumentExtended-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "PPMonumentExtended";
    src: url("/fonts/PPMonumentExtended-Black.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: "PPMonumentExtended";
    src: url("/fonts/PPMonumentExtended-Light.otf") format("opentype");
    font-weight: 100;
    font-style: normal;
  }
  * {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
  }

  /* Works on Firefox */
  * {
    scrollbar-width: none;
  }

  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    display: none;
  }

  html,
  body {
    height: 100%;
  }

  body {
    overflow: hidden;

    background-image: url("../images/bg01.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
  }

  section {
    grid-area: main;
    section: 100%;
    display: flex;
    align-items: center;
  }
  aside {
    grid-area: sidebar;
  }
  main {
    width: 100%;
    max-width: var(--maxWidth);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100vh;
    grid-template-areas: "main main sidebar";
  }

  .text-accent {
    color: var(--accent);
  }

  :root {
    --maxWidth: 65rem;
    --accent: #f22b2c;
  }
</style>
